.footer {
  display: flex;
  justify-content: space-between;
  padding: 2rem 10%;
  font-size: 0.85rem;
  background-color: #fff;
  color: #777;
  border-top: 1px solid #eee;
  flex-wrap: wrap;
}

.footer-right a {
  margin-left: 1.5rem;
  text-decoration: none;
  color: #777;
}

.footer-right a:hover {
  text-decoration: underline;
}
